*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1rem;
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
    background-image: url(/images/mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
}

img{
    max-width: 100%;
    display: block;
    height: auto;
}

.offscreen{
    position: absolute;
    left: -10000px;
}

.opacity{
    opacity: 0.6;
}

.btn{
    font-size: inherit;
}

.c-order{
    display: grid;
    place-content: center;
    text-align: center;
}

.order__image{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.order__info{
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.order__info__details{
    padding: 1.5rem;
}

.order__plan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px; 
    gap: 0.5rem;
}

.order__payment-type{
    font-weight: 700;
}

.order__payment-change{
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
}

.order__payment-change:hover{
    color: hsl(228, 49%, 67%);
}

.order__payment button{
    margin-top: 1rem;
    background-color: hsl(245, 75%, 52%);
    min-height: 40px;
    color: white;
    box-shadow: 0px 20px 50px hsl(224, 23%, 55%);
    font-weight: bold;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-width: 0;
    border-radius: 15px;
}

.order__payment button:hover{
    background-color: hsl(244, 82%, 59%);
}

.order__cancel{
    padding:1.5rem ;
    font-weight: bolder;
}

.order__cancel:hover{
    color: black;
    opacity: 1;
}

.order__image{
    width: 100%;
}

@media screen and (min-width:600px) {
    body{
        display: grid;
        place-content: center;
        background-color: hsl(225, 100%, 94%);
        background-image: url(/images/desktop.svg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .c-order{
        max-width: 300px;
    }
}